<div class="section flex flex-wrap justify-evenly content-evenly items-end m-4 sm:text-xl xs:text-lg">
    <form method="get" action="/" class="inline-flex flex-nowrap justify-center items-center">
        <label for="search" class="whitespace-nowrap">Search for stock:</label>
        <input type="search" class="text-input ml-2" id="search" maxlength="4" name="symbol" required
               oninput="this.value = this.value.toUpperCase()">
        <input type="submit" class="button" value="Search">
    </form>
    {% if GET.symbol is defined %}
        {% if SESSION[GET.symbol].currentPrice>0 %}
            <div class="inline-flex flex-nowrap justify-center items-center space-x-2">
                <img src="{{ SESSION[GET.symbol].info.logo }}" alt="Logo" class="h-8">
                <span class="font-bold">{{ GET.symbol }}</span>
                <span class="text-gray-400">{{ SESSION[GET.symbol].info.name }}</span>
                <span class="text-base">{{ '$ ' }}</span>
                <span class="font-bold">
                    {{ SESSION[GET.symbol].currentPrice|format_number({fraction_digit: 2},locale='en') }}
                </span>
            </div>
            <form method="post" action="/buy" class="inline-flex flex-nowrap text-xs items-end">
                <input type="hidden" name="symbol" value="{{ GET.symbol }}">
                <div>
                    <label for="buy">Count</label><br>
                    <input type="text" id="buy" class="text-input" name="amount" pattern="^[0-9]+[\.]?[0-9]*$"
                           oninput="document.getElementById('buy-m').value='$'+Math.round(this.value*{{ SESSION[GET.symbol].currentPrice }}*100)/100;
                                   document.getElementById('buy-button').disabled=
                                   document.getElementById('buy-m').value.substr(1)<=0 ||
                                   document.getElementById('buy-m').value.substr(1)>{{ money }}">
                </div>
                <div class="ml-2">
                    <label for="buy-m">Money</label><br>
                    <input type="text" id="buy-m" class="text-input" name="money" pattern="^[\$]?[0-9]+[\.]?[0-9]*$"
                           oninput="this.value=this.value[0]==='$'?this.value:'$'+this.value;
                                   document.getElementById('buy').value=Math.round(this.value.substr(1)*10000/{{ SESSION[GET.symbol].currentPrice }})/10000">
                </div>
                <input type="submit" id="buy-button" class="button h-7" value="Buy">
            </form>
        {% else %}
            <div class="inline-flex text-yellow-300 justify-center">Stock with symbol "{{ GET.symbol }}" not found</div>
        {% endif %}
    {% endif %}
</div>
