<div class="section m-4 text-center">
    {% for stock in stocks %}
        <div class="inline-flex w-76 h-50 relative border-2 rounded-xl bg-gradient-to-b
            {% if stock.active %}
                {% if SESSION[stock.symbol].currentPrice >= stock.buyPrice %}
                    border-green-700 from-green-800 to-gray-900 text-green-100
                {% else %}
                    border-red-700 from-red-800 to-gray-900 text-red-100
                {% endif %}
            {% else %}
                border-gray-400 from-gray-500 to-gray-700 text-gray-200
            {% endif %}
            ">

            <img src="{{ SESSION[stock.symbol].info.logo }}" alt="logo" class="absolute left-2 top-2 w-16">
            <div class="absolute right-2 top-2 text-right">
                <span class="block font-bold text-4xl">{{ stock.symbol }}</span>
                <span class="block">{{ SESSION[stock.symbol].info.name }}</span>
            </div>
            <div class="absolute inline left-2 top-22 text-left">
                {{ 'Bought: $' }}{{ stock.buyPrice }}
            </div>
            <div class="absolute inline left-2 top-28 text-left">
                {{ 'Amount: ' }}{{ stock.amount|format_number({fraction_digit: 2},locale='en') }}
            </div>
            <div class="absolute inline right-2 top-22 text-right">
                {% if stock.active %}
                    {{ 'Current: $' }}{{ SESSION[stock.symbol].currentPrice }}
                {% else %}
                    {{ 'Sold: $' }}{{ stock.sellPrice }}
                {% endif %}
            </div>
            <div class="absolute inline right-2 top-28 text-right">
                {% if stock.active %}
                    {{ 'Value: $' }}{{ (SESSION[stock.symbol].currentPrice * stock.amount)|format_number({fraction_digit: 2},locale='en') }}
                {% else %}
                    {{ 'Value: $' }}{{ (stock.sellPrice * stock.amount)|format_number({fraction_digit: 2},locale='en') }}
                {% endif %}
            </div>
            <div class="absolute inline right-2 bottom-2 text-right">
                {% if stock.active %}
                    {{ 'Profit: $' }}
                    <span class="text-4xl">
                        {{ ((SESSION[stock.symbol].currentPrice-stock.buyPrice) * stock.amount)|format_number({fraction_digit: 2},locale='en') }}
                    </span>
                    {{ ((SESSION[stock.symbol].currentPrice / stock.buyPrice-1)*100)|format_number({fraction_digit: 1},locale='en') }}{{ '%' }}
                {% else %}
                    {{ 'Profit: $' }}
                    <span class="text-4xl">
                        {{ stock.profit|format_number({fraction_digit: 2},locale='en') }}
                    </span>
                    {{ ((stock.sellPrice/stock.buyPrice-1)*100)|format_number({fraction_digit: 1},locale='en') }}{{ '%' }}
                {% endif %}
            </div>
            {% if stock.active %}
                <form method="post" action="/sell">
                    <input type="hidden" name="id" value="{{ stock.id }}"/>
                    <input type="hidden" name="price" value="{{ SESSION[stock.symbol].currentPrice }}"/>
                    <input type="submit" class="button absolute left-2 bottom-2" value="Sell"/>
                </form>
            {% else %}
                <form method="post" action="/delete">
                    <input type="hidden" name="id" value="{{ stock.id }}"/>
                    <input type="submit" class="button absolute left-2 bottom-2" value="Delete"/>
                </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
