<br>
<div>
    <table>
        <tr>
            <th></th>
            <th>id</th>
            <th>Active</th>
            <th>Symbol</th>
            <th>Amount</th>
            <th>Buy Price</th>
            <th>Current Price</th>
            <th>Sell Price</th>
            <th>Profit</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>
                    <form method="post" action="/sell">
                        <input type="hidden" name="id" value="{{ stock.id }}"/>
                        <input type="hidden" name="price" value="{{ query.currentPrice(stock.symbol) }}"/>
                        <input type="submit" value="Sell"/>
                    </form>
                </td>
                <td>{{ stock.id }}</td>
                <td>{{ stock.active }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.buyPrice }}</td>
                <td>{{ query.currentPrice(stock.symbol) }}</td>
                <td>{{ stock.sellPrice }}</td>
                <td>{{ stock.profit }}</td>
            </tr>
        {% endfor %}
    </table>
</div>